body {
  height: 100vw;
  background: radial-gradient(ellipse at bottom, #100051, #111);
}

#animation {
  position: relative;
  margin-top: 10vw;
  color: rgb(242, 245, 98);
}
#trekantC {
  position: absolute;
  left: 10vw;
}
#tekst {
  margin-top: 20vw;
  color: rgb(242, 245, 98);
}

#container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
