body {
  height: 100vh;
  margin: 0;
  background: radial-gradient(ellipse at bottom, #100051, #111);
  overflow: hidden;
}
#container {
  position: relative;
}
#tekst {
  position: absolute;
  font-size: 4rem;
  left: 38vw;
  top: 16vw;
  /* color: rgb(242, 245, 98); */
}
#tekst h1 {
  background: linear-gradient(to right, rgb(255, 255, 0), rgba(255, 0, 0));
  color: transparent;
  -webkit-background-clip: text;
}

#svgWrapper {
  position: relative;
}
