body {
  height: 100vh;
  margin: 0;
  background: radial-gradient(ellipse at bottom, #100051, #111);
  overflow: hidden;
}
#mainNav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  justify-content: flex-end;
  height: 5vw;
  z-index: 2;
  opacity: 0;
  transition: opacity 2s cubic-bezier(0, 1, 1, 1);
}
#mainNav > svg {
  transform: scale(0.5);
  color: aliceblue;
  cursor: pointer;
  height: 5vw;
}
.hide {
  opacity: 0;
}
